*{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#menu{
    background-color: black;
}
#menu input{
    position: absolute;
    top: 24px;
    width: 65%;
    border-radius: 5px;
    padding: 3px;
}
#user{
    position: absolute;
    right: 17%;
    top: 22px;
    text-decoration: none;
    color: #a6a6a6;
    text-align: center;
    font-size: 11px;
}
#sac{
    position: absolute;
    right: 10%;
    top: 22px;
    text-decoration: none;
    color: #a6a6a6;
    text-align: center;
    font-size: 11px;
}
#cart{
    position: absolute;
    right: 5%;
    top: 22px;
    text-decoration: none;
    color: #a6a6a6;
    text-align: center;
    font-size: 11px;
}
#menu2{
    background-color: black;
    text-align: center;
}
#menu2 a{
    text-decoration: none;
    color: #a6a6a6;
    padding-right: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}

.conteudo {
    margin-bottom: 50px;
    border-top: 0.4px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 550px;
    font-size: 40px;
    height: 600px;
}

.camisa-imagem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;

}

.descricao-camisa {
    font-weight: 500;
    font-size: 35px;
    align-items: center;

}

.fretegratis {
    font-weight: 500;
    font-size: 30px;
    align-items: center;
    padding-right: 60px;
    color: green;

}

.precoanterior {
    display: flex;
    flex-direction: row;
    text-decoration: line-through;
    font-weight: 500;
    font-size: 35px;
    align-items: center;
    padding-right: 600px;
    text-decoration: line-through;
    color: #a6a6a6;
}

.preco-camisa {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 35px;
    align-items: center;
    padding-right: 600px;

}


.botao-comprar {
    font-weight: 400;
    font-size: 35px;
    align-items: center;
    padding: 5px;
    color: green;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Source+Code+Pro&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}


.footer{
    background-color: #1a1a1a;
    padding: 50px 0;
    width: 100%;
    bottom: 0px;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 20px;
    color: #ffffff;
    text-transform:capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color:blueviolet;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 5px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.4s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

.footer-col .content{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col form .btn{
    margin-top: 10px;
}

.footer-col form .btn button{
    height: 40px;
    width: 50%;
    background: #ffffff;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.footer-col form .btn button:hover{
    background: darkorchid;    
}
