*{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#menu{
    background-color: black;
}
#menu input{
    position: fixed;
    top: 24px;
    width: 65%;
    border-radius: 5px;
    padding: 3px;
}
#user{
    position: fixed;
    right: 17%;
    top: 22px;
    text-decoration: none;
    color: #a6a6a6;
    text-align: center;
    font-size: 11px;
}
#sac{
    position: fixed;
    right: 10%;
    top: 22px;
    text-decoration: none;
    color: #a6a6a6;
    text-align: center;
    font-size: 11px;
}
#cart{
    position: fixed;
    right: 5%;
    top: 22px;
    text-decoration: none;
    color: #a6a6a6;
    text-align: center;
    font-size: 11px;
}
#menu2{
    background-color: black;
    text-align: center;
}
#menu2 a{
    text-decoration: none;
    color: #a6a6a6;
    padding-right: 20px;
    font-size: 15px;
}
